.header {
	height: 80px;

	padding: 60px;

	@media screen and (max-width: $bp-4) {
		padding: 50px;
		width: 100%;
		height: 80px;
		line-height: 80px;
	}

	.nav__wrapper {
		width: $nav-wrapper-width;
		max-height: 100px;
		@media screen and (min-width: $bp-1) {
			max-width: 1600px;
		}
		@media screen and (max-width: $bp-4) {
			width: 95%;
		}
		color: $color-primary;
	}
	.logo {
		div {
			max-width: 6rem;
			img {
				object-fit: contain;
			}
		}
	}
	.navigation {
		@media only screen and (max-width: $bp-3) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// display: block !important;
			background: $modal-bg;
			z-index: $mobile-navigation-z-index;
			display: none;
			order: -1;
		}

		.menu {
			a {
				font-weight: $fw-bolder;
				font-size: $text-md;
				color: $color-primary;
				&:hover {
					color: $color-secondary;
				}
			}
			.active__menu {
				color: $color-secondary !important;
			}
			@media only screen and (max-width: $bp-3) {
				position: absolute;
				top: 0;
				right: 0;
				width: 60%;
				min-width: 350px !important;
				height: 100%;
				background: $bg-primary;

				z-index: $menu-mobile-z-index;
				line-height: 20px;
				@media only screen and (max-width: $bp-6) {
					width: 100%;
				}
				i {
					font-size: 1rem;
				}
			}
		}
	}
	.nav__right {
		max-width: 180px;
		i {
			font-size: $text-md;
			color: $color-primary;
			cursor: pointer;
			font-weight: $fw-bolder;
		}
	}

	.cart__icon {
		.cart__badge {
			align-self: flex-start;
			margin-top: -7px;
			margin-left: -3px;
			background: $bg-tertiary;
			color: $color-quaternary;
			width: 18px;
			height: 18px;
			border-radius: $br-circle;
			font-size: $text-x-sm;
			font-weight: $fw-regular;
		}
	}

	.mobile__menu {
		font-weight: $fw-regular;
		display: none;
		@media screen and (max-width: $bp-3) {
			display: block;
		}
	}
}
// toggle classes
.show__menu {
	display: block !important;
	// transition: $transition-1;
}

.header__shrink {
	position: sticky;
	top: 0;
	left: 0;
	background: $bg-primary;
	z-index: $header-shrink-z-index;
	box-shadow: $bx-sw-1;
}
