._section__heading-1 {
	font-size: 2.75rem;

	font-family: $ff-primary;
	font-weight: $fw-bolder;
	text-align: center;
	color: $color-primary;
	text-transform: capitalize;

	// @media screen and (min-width: $bp-lg-1) {
	// 	font-size: 4rem;
	// }
	// @media screen and (max-width: $bp-6) {
	// 	font-size: 2rem;
	// }
	// @media screen and (max-width: $bp-5) {
	// 	font-size: 2.25rem;
	// }
	// @media screen and (max-width: $bp-3) {
	// 	font-size: 2rem;
	// }

	span {
		color: $color-secondary;
	}
}
