@import "../../../../styles/abstracts/variables";
.ButtonOutline {
	padding: 0.4rem 1rem;
	border-radius: $br-round;
	border: 1px solid $bg-tertiary;
	background: transparent;
	color: $color-quaternary;
	transition: $transition-1;
	i {
		color: inherit;
	}
	&:hover {
		background: $color-primary;
		color: $color-secondary;
	}
}
